<h1>About Me!</h1>
<p>I'm currently a third year student at the University of California Santa Cruz and this whole site is my attempt to learn some web design!<p>
<p>I'm currently hosting this site through heroku(if that isn't already obvious in the domain) with all images being hosted through Amazon S3 since heroku doesn't deal with that stuff. I'm using bootstrap(think twitter/pinteresting UI) for a lot of the aesthetics and Devise for most of the user based stuff. Anyway here's a link to
<%= link_to "My Resume on Google Docs", "https://docs.google.com/document/d/1wfe6yJcuZrGAj1vgRgJ8VRaIJy2MKjIWILTBXCWoSb0/edit?usp=sharing", data: { confirm: "This will leave the current site, are you sure you wish to continue?" } %> if you are interested.
Also, if you wanted to look through any of the site itself here is a link to the code for the entire thing up on <%= link_to "Github", "https://github.com/Jbelles/My-Site", data: {confirm:"This will leave the current site, are you sure you wish to continue?" } %><p>

