<h1>About Me!</h1>
<p>I just started my third year at the University of California Santa Cruz<p>
<%= link_to "My Resume on Google Docs", "https://docs.google.com/document/d/1wfe6yJcuZrGAj1vgRgJ8VRaIJy2MKjIWILTBXCWoSb0/edit?usp=sharing", data: { confirm: "This will leave the current site, are you sure you wish to continue?" } %>
